.gallery-wrap {
  background-color: gray;
  margin-left: -5vw;
  margin-right: -5vw;
  @media screen and (max-width: 980px) {
    display: none;
  }
}

.gallery-counter {
  position: absolute;
  top: 10%;
  left: 250px;
  z-index: 1;
  mix-blend-mode: difference;
  line-height: 16px;
  color: #dbd8d6;

  font-family: "Bai Jamjuree";
  font-weight: 600;

  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.gallery {
  height: 80vh;

  padding: 10vh 0;
  width: 200%;
  display: flex;
  flex-wrap: nowrap;

  .gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    will-change: transform;
  }

  .gallery-item-info {
    position: absolute;
    bottom: 10%;
    z-index: 1;
    transform: translateX(-20%);
    color: #dbd8d6;
    color: white;

    .gallery-info-title {
      line-height: 6vw;
      font-family: "Bai Jamjuree";
      font-weight: 600;
      margin: 0;
      font-size: 6vw;
      -webkit-font-smoothing: antialiased;
      mix-blend-mode: difference;
      color: black;
    }

    .gallery-info-subtitle {
      position: relative;
      line-height: 6vw;
      font-family: "Bai Jamjuree";
      font-weight: 600;
      font-size: 6vw;
      color: transparent;
      margin: 0;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke: 2px #0f0e0e;
    }

    .gallery-info-category {
      position: relative;
      line-height: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      color: #0f0e0e;
      font-size: 24px;
      -webkit-font-smoothing: antialiased;
      mix-blend-mode: difference;
    }
  }
  .gallery-item-wrapper {
    aspect-ratio: 16/9;
    height: 100%;
    display: grid;
    grid-template-columns: 20vw 1fr 200px;
    width: 100vw;

    &.is-reveal {
      .gallery-item-image {
        transform: scale(1);
        filter: none;
      }
    }
  }
  .gallery-item-image {
    background-size: cover;
    background-position: center;
    transform-origin: center;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: scale(0.7);
    transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    filter: grayscale(100%) sepia(20%) brightness(80%);
  }
}

.zero-fit {
  @media screen and (max-width: 980px) {
    width: 0;
  }
}

.gallery-wrap-mobile {
  display: block;
  position: relative;
  padding: 100px 7.5vw 100px;
  background-color: gray;
  @media screen and (min-width: 981px) {
    display: none;
  }

  @media screen and (max-width: 690px) {
    padding: 50px 7.5vw 50px;
  }

  img {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 2s cubic-bezier(0.77, 0, 0.175, 1);

    &.is-reveal {
      clip-path: inset(0% 0% 0% 0%);
    }
  }

  .mobile-item-image {
    max-width: 100%;
    height: auto;
  }

  .mobile-gallery-counter {
    mix-blend-mode: difference;
    color: #dbd8d6;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    font-size: 35px;
    position: absolute;
    z-index: 2;
    top: 82px;
    left: 90px;

    @media screen and (max-width: 690px) {
      font-size: 18px;
      top: 41px;
      left: 41px;
    }
  }

  .mobile-item-info {
    position: absolute;
    z-index: 2;
    bottom: 18%;
    left: 20px;

    .mobile-info-title {
      font-family: "Bai Jamjuree";
      font-weight: 600;
      margin: 0;
      font-size: 70px;
      -webkit-font-smoothing: antialiased;
      mix-blend-mode: difference;
      color: black;
      @media screen and (max-width: 690px) {
        font-size: 32px;
      }
    }
    .mobile-info-subtitle {
      position: relative;
      font-family: "Bai Jamjuree";
      font-weight: 600;
      font-size: 50px;
      color: transparent;
      margin: 0;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke: 2px #0f0e0e;
      @media screen and (max-width: 690px) {
        font-size: 26px;
        -webkit-text-stroke: 1px #0f0e0e;
      }
    }
    .mobile-info-category {
      position: relative;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      color: #0f0e0e;
      font-size: 24px;
      -webkit-font-smoothing: antialiased;
      mix-blend-mode: difference;
      @media screen and (max-width: 690px) {
        font-size: 13px;
      }
    }
  }
}
