.footer-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  P {
    font-size: 1.5625vw;
    color: white;
    text-align: center;
    font-weight: 200;
  }
  .email-link {
    font-size: 5.208333333333334vw;
    color: white;
    text-align: center;
    font-weight: 200;
    text-decoration: none;
  }
  .icon-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.604166666666667vw;
    margin-top: 5.208333333333334vw;

    .icon-link {
      font-size: 2.604166666666667vw;
      color: white;
      text-align: center;
      margin-left: 0.5208333333333333vw;
      margin-right: 0.5208333333333333vw;
    }
  }
}
