.footer-container {
  padding: 100px 7.5vw 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  P {
    font-size: 1.5625vw;
    color: white;
    text-align: center;
    font-weight: 200;

    @media screen and (max-width: 980px) {
      font-size: 23px;
    }
    @media screen and (max-width: 690px) {
      font-size: 12px;
    }
  }
  .email-link {
    font-size: 5.208333333333334vw;
    color: white;
    text-align: center;
    font-weight: 200;
    text-decoration: none;
    @media screen and (max-width: 980px) {
     padding-top: 20px;
    }
    @media screen and (max-width: 980px) {
     padding-top: 8px;
    }
  }
  .icon-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.604166666666667vw;
    margin-top: 5.208333333333334vw;

    .icon-link {
      font-size: 2.604166666666667vw;
      color: white;
      text-align: center;
      margin: 0  0.5208333333333333vw 0  0.5208333333333333vw;
      @media screen and (max-width: 980px) {
        font-size: 30px;
       }
      @media screen and (max-width: 980px) {
        font-size: 24px;
        margin: 0 10px 0 10px;
       }
    }
  }
}
